body {    
   font-family: 'Roboto', sans-serif;
   }

   .gradient{
      background: linear-gradient(90.24deg, #FFFFFF 23.39%, rgba(255, 255, 255, 0.67) 99.79%);
   }
   
   input {
      border: none; outline: none;
   }
   /* Стили Swiper */
   
   .swiper .swiper-slide img{
      width: 100%;
      object-fit: cover;
   }
   
   .swiper-pagination-current{
      font-size: 48px;
      font-family: 'Roboto', sans-serif;   
   }
   
   .swiper-pagination-total{
      font-size: 32px;   
      font-family: 'Roboto', sans-serif;
   }
   .swiper-pagination {
      position: static;  
      color: #D9D9D9; 
   }
   
   .swiper-navigation{   
      position: absolute;
      display: flex;
      width: max-content;
      bottom: 19%;
      right: 2%;
   }
   
   .hot .swiper-button-next,.video .swiper-button-next,.rent .swiper-button-next,.sell .swiper-button-next {
      right: -30px;
      left: auto;
   }
   
   .hot .swiper-button-prev,.video .swiper-button-prev,.rent .swiper-button-prev,.sell .swiper-button-prev {
      left: -30px;
      right: auto;
   }
   
   .с_shadow
   {
      position: absolute;
      left: 154px;
      top:10px;
      color: #D9D9D9;
      z-index: -1;
   }

   .Rob2{
font-family: Roboto Flex;
font-weight: 400;
letter-spacing: 0em;
   }

   .с_shadow2
   {
      position: absolute;
      left: 654px;
      top:10px;
      color: #D9D9D9;
      z-index: -1;
   }
   
   .mySwiper .swiper-button-next, .mySwiper .swiper-button-prev {
      position: static;   
      width: auto;
      height: auto;
      margin-top: auto;       
   }
   
   .swiper-button-next:after, .swiper-button-prev:after {
      content: none;
   }
   
  .rent {
   outline: none;
  } 
.rent::-webkit-input-placeholder{
   color: black;
}
.rent::-moz-placeholder{
   color: black;
}

   @media (max-width:1100px){
      .hot .swiper-button-next,.video .swiper-button-next,.rent .swiper-button-next,.sell .swiper-button-next {
         right: 0px;      
      }
      
      .hot .swiper-button-prev,.video .swiper-button-prev,.rent .swiper-button-prev,.sell .swiper-button-prev {
         left: 0px;
      }
      .slider2 path,.slider3 path {
         fill:white;
      }
      .slider4 path {
         fill:black;
      }
   }

   @media (min-width:768px) {
      .swiper-navigation{  
         bottom: 30%;
      }
   }
   @media (min-width:1024px) {
      .swiper-navigation{  
         bottom: 23%;
      }
   }
   @media (min-width:1280px) {
      .swiper-navigation{  
         bottom: 19%;
      }
   }
   @media (min-width:1024px)and (max-width:1279px) {
      .с_shadow2
   {
      left: 54px;
      top:60px;
      color: #D9D9D9;
      z-index: -1;
   }
   }

